/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: "Mulish", sans-serif;
    src: url(../fonts/Mulish-Regular.ttf);
    src: url(../fonts/Mulish-ExtraBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.container {
    max-width: 1440px;
    padding: 0 49px;
    margin: 0 auto;
}
/* header-styles */
.header{
    position: fixed;
    background-color: white;
    width: 100%;
    padding: 30px 0;
    top: 0;
}
.header__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
            
}

.header__navbar {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
}

.logo__link:hover {
    opacity: 0.8;
}

.nav__link {
    text-decoration: none;
    color: #000000;
}

.nav__link:hover {
    opacity: 0.5;
}

.nav {
    text-decoration: none;
    padding-left: 40px;
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #1F1534;
    opacity: 0.5;
}

.nav_1 {
    color: #000000;
    text-decoration: none;
    padding-left: 40px;
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
}

/* section1 style */
.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hero__info {
    margin-top: 191px;
    margin-right: 109px;

}

.hero__title {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}

.hero__text {
    margin-top: 25px;
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
}

.hero__img {
    margin-top: 84px;
}

.button__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    width: 163px;
    margin-top: 45px;
    background-color: #458FF6;
    border-radius: 55px;
    padding: 16px 34px;
    text-decoration: none;
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: white;
}

.button__link:hover {
    background-color: white;
    color: #458FF6;
    border: 1px solid #458FF6;
}

.img__link:hover {
    opacity: 0.7;
}

/* section2 style */
.servis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 171px;
}

.servis__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.servis__title {
    text-align: center;
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 56px;
    color: #000000;

}

.servis__line {
    margin-left: 643px;
    margin-top: 26px;
    width: 56px;
    height: 2px;
    background: #000000;
    border-radius: 5px;
}

.servis__text {
    text-align: center;
    font-family: "Mulish", sans-serif;
    margin: 33px 45px;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
    color: #7D7987;
}

.servis__navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.servis__nav {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.servis__box {
    width: 30%;
    background: #FFFFFF;
    -webkit-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
            box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    padding: 50px 50px;
    margin: 78px 34px 37px 0;
}

.box__title {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
    color: #000000;
    margin: 20px 0;
}

.box__title5 {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
    color: #000000;
    margin: 40px 0;
    margin-bottom: 28px;
}

.box__text {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
}

.servis__button {
    margin-top: 28px;
    text-decoration: none;
    border: 1.4px solid #458FF6;
    border-radius: 55px;
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    padding: 16px 34px;
    color: #458FF6;
    width: 163px;
    text-align: center;
    margin-left: 570px;
}

.servis__button:hover {
    background-color: #458FF6;
    color: white;
}

.box__img__link:hover {
    opacity: 0.8;
}

/* section3 style */
.provider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 162px;
}

.provider__info {
    margin-left: 142px;
}

.provider__title {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
}

.provider__line {
    border-radius: 10px;
    background: #000000;
    height: 2px;
    width: 56px;
    margin-top: 26px;
}

.provider__text {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
    margin-top: 31px;
}

.provider__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 37px;
    text-decoration: none;
    font-family: "Mulish", sans-serif;
    border: 1.4px solid #458FF6;
    border-radius: 55px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #458FF6;
    width: 163px;
    padding: 16px 34px;
    text-align: center;
}

.provider__button:hover {
    background-color: #458FF6;
    color: white;
}

/* section4 style */
.apps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 162px;
}

.apps__info {
    margin-right: 142px;
}

.apps__title {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
}

.apps__line {
    border-radius: 10px;
    background: #000000;
    height: 2px;
    width: 56px;
    margin-top: 26px;
}

.apps__text {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
    margin-top: 31px;
}

.apps__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 37px;
    text-decoration: none;
    font-family: "Mulish", sans-serif;
    border: 1.4px solid #458FF6;
    border-radius: 55px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #458FF6;
    width: 163px;
    padding: 16px 34px;
    text-align: center;
}

.apps__button:hover {
    background-color: #458FF6;
    color: white;
}

/* section5 style */
.customer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: -o-linear-gradient(241.82deg, #67C3F3 9.05%, #5A98F2 76.74%);
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    margin-top: 269px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.customer__box {
    text-align: center;
}

.customer__title {
    margin-top: 61px;
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
}

.customer__line {
    margin-top: 25px;
    background: #FFFFFF;
    border-radius: 6px;
    height: 2px;
    width: 56px;
    left: 776px;
    margin-left: 636px;
}

.customer__box2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 77px 120px;
}

.customer__box1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.customer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.customer__text1 {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);
}

.customer__logo__img {
    border: 5px solid white;
    border-radius: 70px;
}

.customer__logo__box {
    margin-left: 29px;
    margin-top: 25px;
}

.customer__logo__name {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;
    color: #FFFFFF;
}

.customer__logo__about {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    width: 420px;
    color: rgba(255, 255, 255, 0.85);
}

.customer__vector {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.customer__vector>img {
    margin-right: 90px;
}

/* section6 style */
.article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 150px;
}

.article__information {
    margin-top: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.article__box {
    text-align: center;
}

.article__title {
    margin-top: 61px;
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #000000;
}

.article__line {
    margin-top: 25px;
    background: #000000;
    border-radius: 6px;
    height: 3px;
    width: 56px;
    left: 776px;
    margin-left: 636px;
}

.info {
    background: #FFFFFF;
    -webkit-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
            box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    width: 350px;
}

.info__box {
    margin: 21px 66px 35px 33px;
}

.info__title {
    margin-top: 21px;
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    color: #000000;
}

.info__text {
    margin-top: 12px;
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
}

.info__button {
    margin-top: 25px;
}

.info__link {
    text-decoration: none;
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    color: #4089ED;
}

.article__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 37px;
    font-family: "Mulish", sans-serif;
    border: 1.4px solid #458FF6;
    border-radius: 55px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    width: 163px;
    padding: 16px 34px;
    text-align: center;
    text-decoration: none;
    color: #458FF6;
    margin-left: 590px;
}

.article__button:hover {
    background-color: #458FF6;
    color: white;
}

/* footer style */
.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: -o-linear-gradient(266.59deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    margin-top: 202px;
}

.footer__information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 118px;
    margin-bottom: 113px;
}

.footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer__info {
    margin-top: 22px;
}

.footer__text {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

.footer__text1 {
    margin-top: 31px;
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
}

.footer__units {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.footer__units>ul>li:nth-child(1) {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    color: #FFFFFF;
}

.footer__units>ul>li {
    font-family: "Mulish", sans-serif;
    list-style: none;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 38px;
    color: #FFFFFF;
    margin-left: 120px;
}